.imgCarousel {
    height: 350px;
    object-fit: cover;
    height: 600px;
}


.contenedor1 {
    min-height: 100px;
    margin-bottom: 100px;
}

.contenedor2 {
    height: 600px;
    margin-bottom: 50px;
}
